.findadoc{
    margin-top: 5px;
    background-color:#49c0b2;
    text-align: center;
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
}
.contentf{
    padding-left: 6rem;
    padding-right: 6rem;
    margin: 0;
}
.justify{
    padding-top: 10px;
    text-align: justify;
}
.borderr{
    border-top: 2px solid #efefef; 
}
.picccc{
    background: url(../assets/rep1.png) no-repeat;
    width: 1200px;
    height: 620px;
}
@media(max-width: 1300px){
    .contentf{
        padding-left: 3rem;
        padding-right: 3rem;
        margin: 0;
    }
    .picccc{
        background: url(../assets/rep2.png) no-repeat;
        width: 800px;
        height: 415px;
    }
}
@media(max-width: 850px){
    .contentf{
        margin: 0;
    }
    .picccc{
        background: url(../assets/rep3.png) no-repeat;
        width: 300px;
        height: 215px;
    }
}
